{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "semi": [2, "never"]
  }
}
